form {
  width: 400px;
  max-height: 60vh;
  overflow-x: hidden;
  overflow-y: scroll;
  margin: 24px 0;
}
form label {
  display: block;
  cursor: pointer;
}
form input {
  margin-right: 14px;
}

h6 {
  color: crimson;
}